
script(type="text/ng-template", id="changeskill.info")
    ion-modal-view
        ion-header-bar.bar-balanced
            .buttons
                button.button(ng-click="closeSkillInfo()")
                    i.icon.ion-close
            h1.title {{activeSkill.spellName}} (Level {{activeSkill.spellLevel}})
        ion-content.skill-modal-container(scroll="false")
            .row.data-area
                .col
                    .row
                        .col.text-center
                            i.icon.ion-clock
                            span &nbsp;
                            ng-pluralize(count="activeSkill.spellCooldown", when="{'0': 'instant', 'one': '1 round', 'other': '{} rounds'}")
                        .col.text-center
                            i.icon.ion-waterdrop
                            span &nbsp;
                            span {{activeSkill.spellCost}} mp
                        .col.text-center
                            i.icon.ion-android-contact
                            span &nbsp;
                            span {{activeSkill.spellTargets}}

            .row.desc-area
                .col.text-center {{activeSkill.spellDescription}}

            .row.effects-area
                .col.text-center
                    .row(ng-repeat="effect in activeSkillAttrs")
                        .col.col-20.col-offset-20.text-right
                            strong {{effect.name}}
                        .col.text-left
                            span {{effect.value.min_possible}}
                            span(ng-if="effect.value.min_possible !== effect.value.max_possible") -{{effect.value.max_possible}}
                            span &nbsp;
                            ng-pluralize(ng-if="effect.extra.isRounds", count="effect.value.max_possible", when="{'one': 'round', 'other': 'rounds'}")
                            span &nbsp;
                            span(ng-if="effect.extra.chance") ({{effect.extra.chance}}% chance)


            .row.assign-area
                .col.col-flex
                    .row
                        .col.text-center
                            h3.title Assign Skill

                    .row.skill-container
                        .col.col-flex
                            .row.skill-row
                                .col.skill-slot
                                    .row
                                        .col Slot 1
                                    .row
                                        .col
                                            button.button.button-full.skill-button(
                                                ng-class="{'button-stable': !player.skills[0], 'button-balanced': player.skills[0]}",
                                                ng-click="setSkillInSlot(activeSkill.spellName, 0)")
                                                span.skill-text {{player.skills[0] || 'none'}}
                                .col.skill-slot
                                    .row
                                        .col Slot 2
                                    .row
                                        .col
                                            button.button.button-full.skill-button(
                                                ng-class="{'button-stable': !player.skills[1], 'button-balanced': player.skills[1]}",
                                                ng-click="setSkillInSlot(activeSkill.spellName, 1)")
                                                span.skill-text {{player.skills[1] || 'none'}}
                                .col.skill-slot
                                    .row
                                        .col Slot 3
                                    .row
                                        .col
                                            button.button.button-full.skill-button(
                                                ng-class="{'button-stable': !player.skills[2], 'button-balanced': player.skills[2]}",
                                                ng-click="setSkillInSlot(activeSkill.spellName, 2)")
                                                span.skill-text {{player.skills[2] || 'none'}}
                            .row.skill-row
                                .col.skill-slot
                                    .row
                                        .col Slot 4
                                    .row
                                        .col
                                            button.button.button-full.skill-button(
                                                ng-class="{'button-stable': !player.skills[3], 'button-balanced': player.skills[3]}",
                                                ng-click="setSkillInSlot(activeSkill.spellName, 3)")
                                                span.skill-text {{player.skills[3] || 'none'}}
                                .col.skill-slot
                                    .row
                                        .col Slot 5
                                    .row
                                        .col
                                            button.button.button-full.skill-button(
                                                ng-class="{'button-stable': !player.skills[4], 'button-balanced': player.skills[4]}",
                                                ng-click="setSkillInSlot(activeSkill.spellName, 4)")
                                                span.skill-text {{player.skills[4] || 'none'}}
                                .col.skill-slot
                                    .row
                                        .col Slot 6
                                    .row
                                        .col
                                            button.button.button-full.skill-button(
                                                ng-class="{'button-stable': !player.skills[5], 'button-balanced': player.skills[5]}",
                                                ng-click="setSkillInSlot(activeSkill.spellName, 5)")
                                                span.skill-text {{player.skills[5] || 'none'}}
