script(type="text/ng-template", id="explore")
    ion-view(view-title="Explore")
        ion-content(scroll="false")
            .row.above-gmaps.text-center.no-pointer-events
                .col
                    health-display(target="player")
                .col
                    mana-display(target="player")
            map#map(on-create="mapCreated(map)", on-click="reset()")
            button.above-gmaps.findme-button.button(ng-if="!centered", ng-click="centerOnMe()")
                i.icon.ion-android-locate
                | &nbsp;Find Me

            button.above-gmaps.fight-button.button(
                blocked-by="Shop",
                ng-if="currentlySelected.place",
                ng-click="shop()") Open {{currentlySelected.place.derivedType}}

            button.above-gmaps.fight-button.button(
                blocked-by="Battle",
                ng-if="currentlySelected.monster",
                ng-click="fight()") Fight {{currentlySelected.monster.name}}